:root{

    --sub_t-color:#696464;
    --bg_white_color:#ffffff;
    --font_black_color:rgb(0,0,0);
    --title-F-size:20px;
    --sub_t_F-size:15px;
    --small-font:12px;
    --font_fam:'Wix Madefor Display', sans-serif;

}
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #F3F2EF;
}

/* ************** style for header section start   --> navbar ************* */

.nav-content{
    display: flex;
    justify-content: space-around;
    background-color: var(--bg_white_color);
    height: 55px;
    /* border: 1px solid black; */
   
}

/* ***** for main logo and search bar ***** */

.nav-content > .head-logo-div{      
    display: flex;
    width: 350px;
    margin-top: 0.1rem;
    /* border: 1px solid black; */
    align-items: center;
}
.head-logo{
  width: 35px;
}
.logo{
    margin: 5px;
    display: flex;

}
.head-search{
    display: flex;
    align-items: center;
    height: 30px;
    padding: 2px;
    background-color: #eef3f8;
    border-radius: 0.3rem;

}
.search-input{
    width: 250px;
    height: 30px;
    margin: 0px 5px;
    border: none;
    background-color: #eef3f8;
    border-radius: 0.3rem;

}
 /***** for navbar menu section --> nav menu items ***** */

.navbar{
    /* display: flex; */
    /* border: 1px solid black; */
    margin-top: 0.1rem;
    width: 800px;
    align-items: center;
  
}
.nav-menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
   
}

.nav-menu-img{
   
    width: 22.5px;
    padding: 2.5px;
}
.nav-menu-img-drop{
    position: absolute;
  top:30px;
  margin-left: 3px;
    width: 12px;
}
.ver-line{
    
    border-left: 0.1px solid black;
   

}

 .nav-menu-item{
 display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    font-size: var(--small-font);
    color: var(--sub_t-color);
    font-family: var(--font_fam);
}
 
 
.msg_popup{
    position: absolute;
    background-color: red;
    top: 5px;
    margin-left: 22px;
    color: var(--bg-color);
    z-index: 4;
    width: 15px;
    height: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #fff;
    border-radius: 10px;
    padding: 0.5px;
    font-weight: bolder;
    font-size: var(--small-font);
}
/* ***** this is created for responsive design ***** */
 .hamburger{width: 40px;
align-items: center;
display: inline-flex;
display: none;
justify-content: center;

 }

 /* navbar for hamburger  */

 .navbr-responsive{
    display: flex;
    display: none;
    /* border: 1px solid black; */
    margin-top: 0.1rem;
    width: 600px;
    height: 50px;
    align-items: center;
    float: right;
    margin-right: 1.5rem;
    
  
}
.nav-menu-responsive{
    display: flex;
    justify-content: space-around;
    width: 100%;

}

/* **************** style for main section started *************** */

.content{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr ;
    text-align: center;
column-gap: 2rem;
/* border: 1px solid black; */
padding: 5rem;

}

 /***** style for left-section of  main-section ******/

 .left-secion-grid{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
}
 .left-section-top{
    border: 1px solid black;
    height: 30vh;
    display: flex;
    flex-direction: column;
}

.profile-foreground{
    border: 1px solid black;
    background-image: url(./IMG/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 10vh;
}

.let-section-profile-photo{
    width: 5rem;
    border-radius: 100%;
    position: relative;
    top: 25px;
    border: 2px solid #fff;
}
.left-section-user-name{
    position: relative;
    top: 4rem;
    font-size: var(--title-F-size);
}
.left-section-user-title{
    position: relative;
    font-size: large;
    font-weight: 50px;
    font-size: var(--sub_t_F-size);
    color: var(--sub_t-color);
}
.left-section-connection{
    display: flex;
    position: relative;
}


/***** style for middle-section of  main-section ******/
.middle-section{
    border: 1px solid black;
    height: 150vh;  
}

/***** style for right-section of  main-section ******/
.right-section{
    border: 1px solid black;
    height: 100vh;
}

